body {
  height: 200vh;
}

#container {
  display: flex;
  justify-content: center;
}

#cX,
#cY {
  margin: 10px;
}

#block,
#effect,
#div,
#ficha1,
#ficha2,
#ficha3,
#boton {
  background-color: rgb(218, 218, 218);
  width: 100%;
  height: 100px;
  text-align: center;
  align-content: center;
}

#cuadro {
  display: block;
  width: 100px;
  height: 100px;
  text-align: center;
  align-content: center;
}

.boton {
  display: block;
  width: 100px;
  cursor: pointer;
  margin: 10px;
  border: 1px solid black;
  text-align: center;
  align-content: center;
  border-radius: 6px;
}

span {
  font-weight: bold;
  font-size: large;
}

#c1 {
  background-color: red;
  width: 100px;
  height: 100px;
}

#c2 {
  background-color: white;
  width: 100px;
  height: 100px;
}

#c3 {
  background-color: blue;
  width: 100px;
  height: 100px;
}

.oculto {
  display: none;
}

.visible {
  display: block;
}

.visible-scroll {
  display: inline-block;
  position: fixed;
  bottom: 0;
}
